#draggable {
    background-color: transparent;
    font-size: 14px;
}

/* 印刷に反映させないスタイル */
@media print {
    body {
        border: none !important;
    }

    #draggable {
        border: none;
        background-color: transparent;
        resize: none;
    }
}